<!-- templates/account/terminal.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}
    Terminal - {{ user.username }} - Bashify
{% endblock title %}

{% block content %}
<div class="terminal">
    <div id="terminal-output" class="terminal-output">
        
        {% if request.user.username == user.username %}
            <p>Welcome to your Bashify</p>
        {% else %}
            <p>Welcome {{request.user.username}} to {{user.username}} Bashify</p>
        {% endif %}
            
        <p>Type "help" for a list of available commands.</p>
    </div>
    <form id="terminal-form">
        <input type="text" id="terminal-input" class="terminal-input" placeholder="$">
    </form>
</div>
<link rel="stylesheet" href="{% static 'account/terminal.css' %}">





{% endblock content %}


{% block extra_js %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const terminalForm = document.getElementById('terminal-form');
            const terminalInput = document.getElementById('terminal-input');
            const terminalOutput = document.getElementById('terminal-output');
            const username = '{{ user.username }}'; // Ensure this is correctly injected
        
            terminalForm.addEventListener('submit', function(e) {
                e.preventDefault();
                
                const command = terminalInput.value.trim();
                if (command) {
                    terminalOutput.innerHTML += `<p><span>$</span> ${command}</p>`;
                    terminalInput.value = '';
        
                    fetch(`/account/api/execute-command/?username=${encodeURIComponent(username)}&command=${encodeURIComponent(command)}`)
                        .then(response => response.json())
                        .then(data => {
                            if (data.output) {
                                terminalOutput.innerHTML += `<p>${data.output}</p>`;
                            } else {
                                terminalOutput.innerHTML += `<p>Command not found: ${command}</p>`;
                            }
                            terminalOutput.scrollTop = terminalOutput.scrollHeight;
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                }
            });
        });
        
    </script>

{% endblock extra_js %}
    